body {
  font-family: sans-serif;
  background: linear-gradient(#e66465, #9198e5);
}

h1 {
  font-size: 2em;
  margin-top: 0;
}

p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1em;
}

.container {
  width: 500px;
  margin: 0 auto;
  background: linear-gradient(#e66465, #9198e5);

}
